.eachwrapper {
  width: 100%;
  height: 270px;
  background: #618da8;
}
.Graphwrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.promap {
  flex: 1;
  border: 1px solid #ccc;
  position: relative;
}
.ProjectMap {
  width: 100%;
  height: 700px;
  // background: red;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  .projecttext {
    width: 500px;
    height: 500px;
  }
}

.Account {
  width: 90%;
  height: 150px;
  border: 1px solid #ccc;
  margin: 0 auto;
}

.gainian {
  line-height: 40px;
  font-weight: 600;
  word-wrap: break-word;
}
.detailtext {
  padding-left: 40px;
  box-sizing: border-box;
  margin-top: 20px;
  font-size: 12px;
}

.promapAdd {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 26px;
  background: #2269a5;
  color: #fff;
  font-weight: 600;
  font-size: 30px;
  position: absolute;
  top: 80px;
  left: 218px;
  z-index: 100;
  cursor: pointer;
}
.promapRemove {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 26px;
  background: #2269a5;
  color: #fff;
  font-weight: 600;
  font-size: 35px;
  position: absolute;
  top: 80px;
  left: 252px;
  z-index: 100;
  cursor: pointer;
}

.atlasWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.atlasTop {
  width: 100%;
  height: 80px;
  padding: 0px 50px;
  box-sizing: border-box;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  // background: royalblue;
  position: relative;
}

.editEacharts {
  // width: 90px;
  // height: 100px;
  background: rgba(0, 0, 0, 0.8);
  // background: red;
  position: absolute;
  color: #fff;
  border-radius: 5px;
  z-index: 101;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  cursor: pointer;
}
.editslide {
  border-bottom: 0px;
  line-height: 35px;
}
.Addconcept {
  position: absolute;
  top: 77px;
  left: 30px;
  z-index: 100;
}

.iconRight {
  margin-right: 5px;
}

.BtnPreServaTion {
  position: absolute;
  right: 30px;
  bottom: 10px;
  z-index: 101;
}

.EachartsState {
  position: absolute;
  z-index: 101;
  bottom: 10px;
  left: 10px;
  border: 1px solid;
  width: 120px;
  height: 130px;
  padding: 10px;
  box-sizing: border-box;
}

.borderslide {
  width: 100%;
  line-height: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.borderblue {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #5b5ffe;
  margin-right: 5px;
}

.borderred {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #43ac61;
  margin-right: 9px;
}
.ipt_box {
  position: absolute;
  right: 20px;
}

.SelectList {
  width: 300px;
  position: absolute;
  // background: rgba(255, 255, 255, 0.5);
  background: #ffffff;
  z-index: 101;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  //  top: ;
}
.Selectslide {
  margin: 0px;
  line-height: 30px;
}
.Selectborder {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 5px;
  box-sizing: border-box;
}

.Endediting {
  position: absolute;
  left: 30px;
}
.EndFocus {
  position: absolute;
  left: 200px;
}

.routeMargin {
  margin: 0px 3px;
}

.Selectslidename {
  font-size: 16px;
  font-weight: 600;
}

// .Selectslideclass {
//   // text-indent: 4em;
// }

.marginrrr {
  margin: 0px 10px;
}

.openwrapper {
  width: 390px;
}

.overhoddin {
  height: 167px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  position: relative;
}

.postionhis {
  position: absolute;
  bottom: -14px;
  right: 5px;
  color: #2269a5;
  cursor: pointer;
}

.showbtn {
  position: relative;
}

.textOver {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.boxzhankai {
  position: absolute;
  bottom: -20px;
  right: 10px;
  color: #2269a5;
  cursor: pointer;
}

.boxreative {
  position: relative;
  padding-right: 10px;
  box-sizing: border-box;
}
.overwidth {
  // width: 100%;
  //  height: 200px;
  position: relative;
}
.InputWrapper {
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}
.InputSlide {
  height: 50px;
  display: flex;
  align-items: center;
}
.InputText {
  width: 70px;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin-right: 40px;
}
.InputTextname {
  flex: 1;
  font-size: 13px;
}
