.projectBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.Header {
  width: 100%;
  height: 50px;
  padding: 0px 50px;
  box-sizing: border-box;
  line-height: 50px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
}

.Main {
  flex: 1;
}

.wrapperBox {
  width: 100%;
  height: 100%;
}
