.dialog {
  position: absolute;
  z-index: 99;
  width: 80px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}
.dialog .items {
  padding: 8px 5px;
  color: #fff;
  background: #000;
  text-align: center;
  font-size: 12px;
}
.dialog .items:hover {
  color: rosybrown;
  cursor: pointer;
}
