.wrapper {
  width: 100%;
  height: 100px;
  line-height: 100px;
  position: relative;
  //    display: flex;
}
.wrappertitle {
  font-weight: 600;
  font-size: 26px;
  position: absolute;
  left: 60px;
}
.Fromdiv {
  display: flex;
  width: 700px;
  position: absolute;
  top: 40px;
  right: 20px;
}
